/***************************************
    HEADER STYLES
****************************************/
header {
    left: 0;
    right: 0;
    background: $header-background;
    padding-top: $grid-gutter-width/4;
    padding-bottom: $grid-gutter-width/4;
    color: $header-colour;
    border-top: none;
    a {
        color: $header-colour;      
    }

    @include media-breakpoint-up(lg) {
        .navbar-main {
            right: 0;
            z-index: 9;       
        }
    }
}