/***************************************
    BODY STYLES
****************************************/
.main {
  background-color: $main-bg;

  &.full-background {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .banner-image {
    margin-bottom: $grid-gutter-width;

    img {
      opacity: 0.5;
    }
  }

  .banner-spacer {
    @extend .bg-dark;

    padding-bottom: 40%;

    @include media-breakpoint-down("sm") {
      padding-bottom: 60%;
    }
  }

  & > .container {
    &:first-child {
      @extend .pt-5;
    }

    &:last-child {
      @extend .pb-2;
    }
  }

  .secondary .nav-pills .nav {
    padding: $grid-gutter-width/4;

    .active {
      background: transparent;
      color: $sub-nav-active-colour;
    }
  }
}
