/***************************************
    HEADER STYLES
****************************************/
header {
  left: 0;
  right: 0;
  background: $header-background;
  padding-top: $grid-gutter-width/4;
  padding-bottom: $grid-gutter-width/4;
  color: $header-colour;
  border-top: none;

  a {
    color: $header-colour;
  }

  @include media-breakpoint-up(lg) {
    .navbar-main {
      right: 0;
      z-index: 9;
    }
  }

  .dropdown-menu a {
    position: relative;
    padding-right: 2.5em;

    .fa-chevron-right {
      opacity: 0.25;
      right: 1em;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
    }
  }
}
