/***************************************
    MISC STYLES
****************************************/
.map-row {
  min-width: 100%;
  display: block;
}

.embed-responsive {
  margin-bottom: $grid-gutter-width;

  &.embed-responsive-map {
    padding-bottom: $grid-gutter-width*10;
  }
}

nav.secondary {
  margin-bottom: $grid-gutter-width;
}

/* stylelint-disable selector-id-pattern */
#cookie_container {
  @extend .bg-success;
  @extend .text-white;

  /* stylelint-disable selector-class-pattern */
  .cookie_inner {
    @extend .container;

    a {
      @extend .btn;
      @extend .btn-primary;
    }
  }
}

.gallery-modal {
    z-index: 9999 !important; 
}

.overlay-holder {
    position: relative;
    &.overlay-hover:hover {
        .overlay-bg img {
            opacity: 1;
            transition: opacity 1s;
        }
        .overlay {
            opacity: 0;
            transition: opacity 1s;
        }
    }
    .overlay-bg img,
    img.overlay-bg {
        opacity: 0.5;
        transition: opacity 1s;
    }
    .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 1s;
        z-index: 999;
        &.overlay-bottom {
            top: auto;
            bottom: 0;
            transform: translate(-50%,0);
            .breadcrumb-item {
                @extend .text-light;
                a {
                    @extend .text-light;
                }
            }
        }
    }
}

.column-content {
    columns: 2;
}
